
@*
<a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-sm">Home</a>
*@


<alert color="danger" message-text="Lorem ipsum dolor sit a met.">
    <ul>
        <li>Dolor sit.</li>
        <li>Amet, consectetur.</li>
        <li>Adipiscing elit.</li>
    </ul>
</alert>