@model List<(string Ad, string Soyad)>

<div class="row">
    @foreach ((string Ad, string Soyad) item in Model)
    {
        <div class="col-3 mb-3">
            @*.card>.card-header+.card-body*@
            <div class="card">
                <div class="card-header">
                    Kişi Bilgisi
                </div>
                <div class="card-body">
                    @item.Ad @item.Soyad
                </div>
            </div>
        </div>
    }
</div>